.right-side {
    background-color: $white;
    .total-playlist {
        overflow: overlay;
        height: 70vh;
        &:hover::-webkit-scrollbar {
            display: block;
        }
        .song-container {
            padding: 5px 10px;
            margin-bottom: 5px;
            border-radius: 5px;
            &:hover {
                background-color: $soft-white;
            }
            .menu {
                display: flex;
                align-items: center;
            }
            .artist-name {
                color: $text-black;
            }
        }
    }
    ::-webkit-scrollbar {
        display: none;
        width: 3px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #a5a5a5;
        border-radius: 10px;
    }
}