$white: #fdfdfd;
$soft-white: #e4e6eb;
$dark: #202022;
$borderColor: #dfd4d4fa;
$centerBorder: #e5dede;
$text-black: rgba(0, 0, 0, 0.5);
$text-white: rgba(255, 255, 255, 0.5);
$dark-hover: #1a1a1a;
$activeColor: #2196f3;
$green: #399911;
$borderColorDark: #343232;
$letter-spacing-2: 2px;

@mixin overflow($type) {
    overflow: $type;
}

@mixin flexBox($direction) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
}
